# Ignore all files in the AppData directory
.idea/
*.log
app.log
# Dependency directories
include/
Lib/
Scripts/
requirements.txt
*.pyc
__pycache__/
venv/
*.jpeg
./output/
./dist/
./static/vue3_html/dist/
./static/vue3_html/node_modules/
./static/vue3_html/.vscode/
./static/vue3_vite/.idea/
./static/vue3_vite/node_modules/
node_modules/
output.txt
*.tsbuildinfo
.history/
output/
*.json