/* 全局样式 */
body {
    /*font-family: 'Roboto', sans-serif;*/
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
    text-align: center;
}

/* 表单样式 */
.form-container {
    margin-bottom: 40px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 40px;
}

.form-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    min-width: 300px;
}

#influencerLinks {
    height: 100px; /* 可以调整这个值来延长文本框 */
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #36abf4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.response-message {
    max-height: 100px;  /* 固定高度为200px */
    overflow-y: auto;  /* 超出内容时显示垂直滚动条 */
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px;
}


.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.form-row > div {
    flex: 1;
    min-width: 250px;
    margin-top: 15px;
}

.form-row > div.currency-container {
    flex: 0 0 auto; /* 不允许父容器伸展 */
    width: 100px; /* 设置选择框的宽度 */
}

.currency-container select {
    width: 100%; /* 使选择框充满父容器 */
}

/* 确保最后一个 `div` 没有右边距，避免布局不对齐 */
.form-row > div:last-child {
    margin-right: 0;
}

/*input[type="text"],*/
/*input[type="email"],*/
/*input[type="number"],*/
/*input[type="date"],*/
/*textarea,*/
/*select {*/
/*    width: 100%;*/
/*    padding: 8px;*/
/*    margin: 5px 0;*/
/*    box-sizing: border-box;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*}*/

/* 确保 select, datalist input 和 input 元素的大小一致 */
select,
input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
textarea,
input[list] {
    width: 100%; /* 确保宽度一致 */
    padding: 10px; /* 确保内边距一致 */
    font-size: 14px; /* 确保字体大小一致 */
    line-height: 1.5; /* 确保行高一致 */
    border-radius: 5px; /* 如果需要圆角，确保一致 */
    box-sizing: border-box; /* 确保padding不会影响元素大小 */
    height: auto; /* 让高度自动调整 */
    border: 1px solid #ccc;
}

/* 添加额外的样式来控制特定的元素 */
select {
    -webkit-appearance: none; /* 关闭浏览器默认样式，使其更加一致 */
    -moz-appearance: none;
    appearance: none;
}

input[list] {
    -webkit-appearance: none; /* 针对 datalist 关闭默认样式 */
    -moz-appearance: none;
    appearance: none;
}

#videoLinks {
    height: 45px; /* 让高度自动调整 */
}
textarea {
    resize: vertical;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-primary:hover {
    background-color: #45a049;
}

.btn-secondary {
    background-color: #36abf4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #e53935;
}

/* 表格样式 */
#influencerTableContainer,
#videoTableContainer {
    overflow-x: auto;
    overflow-y: auto; /* 初始状态下不显示滚动条 */
    margin-top: 20px;
    max-height: 500px; /* 控制表格的最大高度以显示15行左右 */
    position: relative;
}

/* 固定表头样式 */
#influencerTable thead th,
#videoTable thead th {
    position: sticky;
    top: 0;
    /*background-color: #f4f4f4;*/
    background-color: rgba(244, 244, 244, 0.9); /* 添加透明度 */
    z-index: 5; /* 调低 z-index，确保其他重要内容可以覆盖表头 */
}

#influencerTable,
#videoTable {
    width: 100%;
    border-collapse: collapse;
}

#influencerTable th, #influencerTable td,
#videoTable th, #videoTable td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    line-height: 1.2; /* 统一设置行高 */
}

#influencerTable th, #videoTable th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

#influencerTable tr:nth-child(even),
#videoTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#influencerTable,
#videoTable {
    font-size: 14px;
}

#influencerTableContainer:hover, #videoTableContainer:hover {
    overflow-y: auto; /* 鼠标悬停时显示滚动条 */
}

/* 移动端优化 */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    #influencerTableContainer,
    #videoTableContainer {
        overflow-x: auto;
        width: 100%;
        margin-top: 20px;
        max-height: 500px; /* 保持移动端也能限制高度 */
    }

    .form-container {
        flex-direction: column;
    }

    .form-column {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/* 新增数据按钮样式 */
.add-video-data-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-video-data-btn:hover {
    background-color: #45a049;
}

/* 弹窗样式 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* 增加 z-index 确保弹窗优先显示 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    z-index: 1010; /* 确保模态框内容位于表头之上 */
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* 移动端优化 */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .form-row {
        flex-direction: column;
    }
}

.highlighted {
    background-color: #eab5ff; /* 高亮显示的颜色，例如浅橙色 */
}
/* 添加更多链接按钮颜色 */
.btn-secondary.custom-btn {
    background-color: #007BFF; /* 选择你喜欢的颜色 */
    border-color: #007BFF;
    color: white;
}
/* 视频数据表头分颜色 */
.group1 {
            background-color: #f0f8ff; /* 第一组表头的颜色，例如浅蓝色 */
        }

.group2 {
    background-color: #f5f5f5; /* 第二组表头的颜色，例如浅灰色 */
}

.delete-btn-container {
    position: absolute;
    right: 0;
    top: 0;
}

.submit-reset-container {
    display: inline-block;
}
.btn-secondary, .btn-danger {
        padding: 10px 20px; /* 调整按钮的内边距 */
        font-size: 14px; /* 调整字体大小 */
        border: none; /* 移除边框 */
        cursor: pointer; /* 鼠标悬停时显示为指针 */
    }

.btn-secondary {
    background-color: #6c757d; /* 灰色背景 */
    color: white; /* 白色文字 */
}

.btn-danger {
    background-color: #dc3545; /* 红色背景 */
    color: white; /* 白色文字 */
}

.btn-danger:hover {
    background-color: #c82333; /* 更深的红色用于悬停效果 */
}



/* 指标定义数据表样式 */
/* 表格样式 */
#metricsTableContainer {
    overflow-x: auto;
    overflow-y: auto; /* 初始状态下不显示滚动条 */
    margin-top: 20px;
    max-height: 500px; /* 控制表格的最大高度以显示15行左右 */
    position: relative;
}

/* 固定表头样式 */
#metricsTable thead th {
    position: sticky;
    top: 0;
    background-color: rgba(244, 244, 244, 0.9); /* 添加透明度 */
    z-index: 5; /* 调低 z-index，确保其他重要内容可以覆盖表头 */
}

#metricsTable {
    width: 100%;
    border-collapse: collapse;
}

#metricsTable th, #metricsTable td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    line-height: 1.2; /* 统一设置行高 */
}

#metricsTable th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

#metricsTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#metricsTable {
    font-size: 14px;
}

#metricsTableContainer:hover {
    overflow-y: auto; /* 鼠标悬停时显示滚动条 */
}

/* 表头分组颜色 */
.group1 {
    background-color: #f0f8ff; /* 与视频数据表第一组表头颜色一致 */
}

.group2 {
    background-color: #f5f5f5; /* 与视频数据表第二组表头颜色一致 */
}

/* 移动端优化 */
@media (max-width: 768px) {
    #metricsTableContainer {
        overflow-x: auto;
        width: 100%;
        margin-top: 20px;
        max-height: 500px; /* 保持移动端也能限制高度 */
    }
}
