<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>红人和视频数据收集器</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>红人和视频数据收集器</h1>

        <!-- 红人板块 -->
        <section id="influencerSection" class="form-container">
            <div class="form-column">
                <h2>抓取红人信息板块</h2>
                <form id="influencerForm"  style="display: flex;">
                    <div style="flex: 1;">
                        <label for="influencerLinks">红人链接（每行一个）:</label>
                        <textarea id="influencerLinks" name="influencerLinks" placeholder="请输入红人链接，每行一个" required class="full-width"></textarea>
                        <div class="form-row">
                            <button type="submit" class="btn-primary">提交红人</button>
                            <button type="button" id="resetInfluencerForm" class="btn-secondary">重置</button>

                        </div>
                    </div>

            <!-- 右侧结果显示框 -->
            <div class="response-message" id="responseMessageInfluencer" style="flex: 1; margin-left: 20px;">
                <!-- 提交结果内容将显示在这里 -->

                        </div>
                </form>
            </div>


            <div class="form-column">
                <h2>更新红人信息板块</h2>
                <form id="updateInfluencerForm">
                    <div class="form-row">
                        <div>
                            <label for="updatePlatform">平台:</label>
                            <select id="updatePlatform" name="platform" required>
                                <option value="">选择平台</option>
                                <!-- 平台选项将在JavaScript中动态生成 -->
                            </select>
                        </div>
                        <div>
                            <label for="updateInfluencerName">红人名称:</label>
                            <input list="influencerNames" id="updateInfluencerName" name="influencerName" placeholder="选择红人">
                            <datalist id="influencerNames">
                                <!-- 此处将动态添加选项 -->
                            </datalist>
                        </div>
                        <div>
                            <label for="country">地区:</label>
                            <input list="countries" id="country" name="country" placeholder="地区" oninput="fillCountryDetails('name')">
                            <datalist id="countries"></datalist>
                        </div>
                        <div>
                            <label for="country_code">国家编码:</label>
                            <input list="country_codes" id="country_code" name="country_code" placeholder="国家编码" oninput="fillCountryDetails('code')">
                            <datalist id="country_codes"></datalist>
                        </div>

                    </div>
                    <div class="form-row">
                        <div>
                            <label for="email">邮箱:</label>
                            <input type="email" id="email" name="email" placeholder="邮箱">
                        </div>
                        <div>
                            <label for="whatsapp">WhatsApp:</label>
                            <input type="text" id="whatsapp" name="whatsapp" placeholder="WhatsApp">
                        </div>
                        <div>
                            <label for="discord">Discord:</label>
                            <input type="text" id="discord" name="discord" placeholder="Discord">
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            <label for="address1">地址信息1:</label>
                            <input type="text" id="address1" name="address1" placeholder="地址1">
                        </div>
                        <div>
                            <label for="address2">地址信息2:</label>
                            <input type="text" id="address2" name="address2" placeholder="地址2">
                        </div>
                        <div>
                            <label for="address3">地址信息3:</label>
                            <input type="text" id="address3" name="address3" placeholder="地址3">
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            <label for="tag1">标签功能1:</label>
                            <input type="text" id="tag1" name="tag1" placeholder="标签1">
                        </div>
                        <div>
                            <label for="tag2">标签功能2:</label>
                            <input type="text" id="tag2" name="tag2" placeholder="标签2">
                        </div>
                        <div>
                            <label for="tag3">标签功能3:</label>
                            <input type="text" id="tag3" name="tag3" placeholder="标签3">
                         </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn-primary">提交</button>
                        <button type="button" id="resetUpdateInfluencerForm" class="btn-secondary">重置</button>
                    </div>
                </form>
<!--                <div class="response-container">-->
    <div id="responseMessageUpdateInfluencer" class="response-message"></div>

            </div>



            <!-- 红人数据表格 -->
            <div class="form-column">
    <div id="influencerTableContainer">
        <table id="influencerTable">
            <thead>
                <tr>
                    <th>红人头像地址</th>
                    <th>ID</th>
                    <th>平台</th>
                    <th>红人名称</th>
                    <th>红人全名</th>
                    <th>地区</th>
                    <th>国家编码</th>
                    <th>评级</th>
                    <th>粉丝数量</th>
                    <th>平均点赞数量</th>
                    <th>平均评论数量</th>
                    <th>平均播放量</th>
                    <th>平均参与率</th>
                    <th>邮箱</th>
                    <th>地址信息1</th>
                    <th>标签功能1</th>
                    <th>WhatsApp</th>
                    <th>地址信息2</th>
                    <th>标签功能2</th>
                    <th>Discord</th>
                    <th>地址信息3</th>
                    <th>标签功能3</th>
                    <th>更新日期</th>
                </tr>
            </thead>
            <tbody>
                <!-- 数据将通过 JavaScript 动态插入 -->
            </tbody>
        </table>
    </div>
</div>

        </section>


        <!-- 视频板块 -->
<section id="videoSection" class="form-container" style="position: relative;">
    <!-- 新增数据按钮 -->
<!--    <button id="addVideoDataButton" style="position: absolute; top: 0; right: 0; z-index: 1000;">新增数据</button>-->
    <button id="addVideoDataButton" class="add-video-data-btn">新增数据</button>
    <div class="form-column">
        <h2>项目与视频板块</h2>
        <form id="videoForm">
            <div id="linkFieldsContainer">
                <div class="linkFields">
                    <div class="form-row">
                        <div>
                            <label for="videoUniqueId">唯一id:</label>
                            <select id="videoUniqueId" class="videoUniqueId" required>
                            <option value="">选择唯一id</option>
                            <!-- 选项将在JavaScript中动态生成 1-->
                        </select>
                        </div>
                        <div>
                            <label for="videobrand">品牌:</label>
                            <select id="videobrand" class="videobrand">
                                <option value="">选择品牌</option>
                                <!-- 选项将在JavaScript中动态生成 -->
                            </select>
                        </div>
                        <div>
                            <label for="videoProjectName">项目:</label>
                            <select id="videoProjectName" class="videoProjectName">
                                <option value="">选择项目</option>
                                <!-- 选项将在JavaScript中动态生成 -->
                            </select>
                        </div>
                        <div>
                            <label for="videoManager">负责人:</label>
                            <select id="videoManager" class="videoManager">
                                <option value="">选择负责人</option>
                                <!-- 选项将在JavaScript中动态生成 -->
                            </select>
                        </div>
                        <div>
                            <label for="videoInfluencerName">红人名称:</label>
                            <select id="videoInfluencerName" class="videoInfluencerName">
                                <option value="">选择负责人</option>
                                <!-- 选项将在JavaScript中动态生成 -->
                            </select>
                        </div>
            <!--                            <input list="videoinfluencerNames" id="videoInfluencerName" class="videoInfluencerName" name="videoinfluencerName" placeholder="选择红人">-->
<!--                            <datalist id="videoinfluencerNames">-->
<!--                                &lt;!&ndash; 此处将动态添加选项 &ndash;&gt;-->
<!--                            </datalist>-->
                    </div>

                    <div class="form-row">
                        <div>
                            <label for="videoLinks">视频链接:</label>
                            <textarea id="videoLinks" class="videoLinks" placeholder="请输入视频链接"></textarea>
                        </div>
                        <div>
                            <label for="videoproduct">产品:</label>
                            <input list="productOptions" id="videoproduct" class="videoproduct" placeholder="请输入或选择产品">
                            <datalist id="productOptions"></datalist>
                        </div>
                        <div>
                            <label for="videoProgress">合作进度:</label>
                            <input list="progressOptions" id="videoProgress" class="videoProgress" placeholder="请输入合作进度">
                            <datalist id="progressOptions">
                                <option value="进行中">
                                <option value="合作完成">
                                <option value="合作失败">
                            </datalist>
                        </div>
                        <div>
                            <label for="videoLogisticsNumber">物流单号:</label>
                            <input type="text" id="videoLogisticsNumber" class="videoLogisticsNumber" placeholder="请输入物流单号">
                        </div>
                        <div>
                            <label for="videoType">类型:</label>
                            <select id="videoType" class="videoType">
                            <option value="">选择类型</option>
                            <!-- 选项将在JavaScript中动态生成 -->
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div>
                            <label for="videocost">花费:</label>
                            <input type="number" id="videocost" class="videocost" placeholder="请输入花费">
                        </div>
                        <div>
                            <label for="videocurrency">币种:</label>
                            <select id="videocurrency" class="videocurrency">
                                <option value="">选择币种</option>
                                <option value="USD">USD - 美元</option>
                                <option value="EUR">EUR - 欧元</option>
                                <option value="CNY">CNY - 人民币</option>
                                <option value="JPY">JPY - 日元</option>
                                <option value="GBP">GBP - 英镑</option>
                                <option value="AUD">AUD - 澳元</option>
                                <option value="CAD">CAD - 加元</option>
                            </select>
                        </div>
                        <div>
                            <label for="videoestimatedLaunchDate">预估上线时间:</label>
                            <input type="date" id="videoestimatedLaunchDate" name="videoestimatedLaunchDate" placeholder="预估上线时间">
                        </div>
                        <div>
                            <label for="videoestimatedViews">预估观看量:</label>
                            <input type="number" id="videoestimatedViews" name="videoestimatedViews" placeholder="预估观看量">
                        </div>

                    </div>
                </div>
            </div>
            <button type="button" id="addLink" class="btn-secondary custom-btn">添加更多链接</button>
            <button type="submit" class="btn-primary">提交视频</button>
            <button type="button" id="resetVideoForm" class="btn-secondary">重置</button>

            <!-- 用于显示提交结果的元素 -->
            <div id="responseMessageVideo" class="response-message"></div>

        </form>
    </div>

    <!-- 视频数据表格 -->
    <div class="form-column">
    <div id="videoTableContainer">
        <table id="videoTable" border="1">
            <thead>
                <tr>
                    <th class="group1">唯一id</th>
                    <th class="group1">品牌</th>
                    <th class="group1">项目</th>
                    <th class="group1">负责人</th>
                    <th class="group1">合作进度</th>
                    <th class="group1">物流进度</th>
                    <th class="group1">物流单号</th>
                    <th class="group1">花费</th>
                    <th class="group1">币种</th>
                    <th class="group1">产品</th>
                    <th class="group1">预估观看量</th>
                    <th class="group1">预估上线时间</th>
                    <th class="group2">平台</th>
                    <th class="group2">类型</th>
                    <th class="group2">红人名称</th>
                    <th class="group2">视频链接</th>
                    <th class="group2">发布时间</th>
                    <th class="group2">播放量</th>
                    <th class="group2">点赞数</th>
                    <th class="group2">评论数</th>
                    <th class="group2">收藏数</th>
                    <th class="group2">转发数</th>
                    <th class="group2">参与率</th>
                    <th class="group2">更新日期</th>
                </tr>
            </thead>
            <tbody>
                <!-- 数据将通过JavaScript动态生成 -->
            </tbody>
        </table>
    </div>
</div>



    <!-- 新增数据表单 -->
<!--    <div id="addVideoDataForm" style="display: none; position: absolute; top: 60px; right: 20px; background-color: white; padding: 20px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">-->
    <!-- 新增数据表单 -->
            <div id="addVideoDataForm" class="modal">
    <div class="modal-content">
        <span class="close" id="closeAddVideoForm">&times;</span>
        <form id="addVideoData">
            <label for="addbrand">品牌:</label>
            <input list="brandOptions" id="addbrand" name="品牌" required>
            <datalist id="brandOptions">
                <!-- 动态加载的品牌选项将插入到这里 -->
            </datalist>
            <br>

            <label for="addprojectName">项目:</label>
            <input list="projectOptions" id="addprojectName" name="项目" required>
            <datalist id="projectOptions">
                <!-- 动态加载的项目选项将插入到这里 -->
            </datalist>
            <br>

            <label for="addmanager">负责人:</label>
            <input list="managerOptions" id="addmanager" name="负责人" required>
            <datalist id="managerOptions">
                <!-- 动态加载的负责人选项将插入到这里 -->
            </datalist>
            <br>

            <label for="addcost">花费:</label>
            <input type="number" id="addcost" class="addcost" placeholder="请输入花费">

            <label for="addcurrency">币种:</label>
            <select id="addcurrency" class="addcurrency">
                <option value="">选择币种</option>
                <option value="USD">USD - 美元</option>
                <option value="EUR">EUR - 欧元</option>
                <option value="CNY">CNY - 人民币</option>
                <option value="JPY">JPY - 日元</option>
                <option value="GBP">GBP - 英镑</option>
                <option value="AUD">AUD - 澳元</option>
                <option value="CAD">CAD - 加元</option>
            </select>
            <br>

            <!-- 修改后的产品输入框 -->
            <label for="addproduct">产品:</label>
            <input list="productOptions" id="addproduct" name="产品" placeholder="请输入或选择产品">
            <datalist id="addproductOptions">
                <!-- 动态加载的产品选项将插入到这里 -->
            </datalist>
            <br>

            <label for="addProgress">合作进度:</label>
            <input list="progressOptions" id="addProgress" class="addProgress" placeholder="请输入合作进度">
            <datalist id="addprogressOptions">
                <option value="进行中">
                <option value="合作完成">
                <option value="合作失败">
            </datalist>

            <label for="addestimatedViews">预估观看量:</label>
            <input type="number" id="addestimatedViews" name="预估观看量"><br>

            <label for="addestimatedLaunchDate">预估上线时间:</label>
            <input type="date" id="addestimatedLaunchDate" name="预估上线时间"><br>

            <button type="submit" class="btn-primary">提交</button>
            <button type="button" id="cancelAddVideoData" class="btn-secondary">取消</button>
        </form>
    </div>
</div>

</section>


    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
</body>
</html>
