<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Dear Customer,</p>
        <p>Thank you for contacting our support team. To help us improve our service, we kindly ask for your feedback on your recent interaction with us.</p>
        <p>Please take a moment to rate your satisfaction by selecting one of the options below:</p>
        <form action="http://your-server-endpoint.com/submit-survey" method="post">
            <input type="hidden" name="unique_id" value="{unique_id}">
            <input type="radio" name="satisfaction" value="Very Satisfied"> Very Satisfied<br>
            <input type="radio" name="satisfaction" value="Satisfied"> Satisfied<br>
            <input type="radio" name="satisfaction" value="Neutral"> Neutral<br>
            <input type="radio" name="satisfaction" value="Dissatisfied"> Dissatisfied<br>
            <input type="radio" name="satisfaction" value="Very Dissatisfied"> Very Dissatisfied<br>
            <input type="submit" value="Submit">
        </form>
        <p>We are committed to continuously improving our service based on your valuable input.</p>
        <p>Thank you again for choosing our company. If you have any further questions or concerns, please feel free to reach out to us.</p>
        <p>Best Regards,<br>JSAUX Support Team</p>
</body>
</html>